each place,index in places
  div.row
    div.large-12.columns
      div.row.place
        div.large-12.columns
          div.large-2.columns
            p.marker-container
              img.marker-icon(src="img/map-marker.svg" alt="map marker")
              - let number = index + 1
              if number > 9
                span.marker-index.double-digit #{number}
              else
                span.marker-index #{number}
          div.large-10.columns
            a(href="/place?lat=" + place.lat + "&lon=" + place.lon)
              p
                strong #{place.name}
                span &nbsp;(#{place.distance} miles)
                br 
                | #{place.city}, #{place.state}
            div.row
              div.large-12.columns
                ul.inline-list
                  each activity in place.activities
                    li
                      if activity.activity_type_name == "hiking"
                        img.activity-icon(src="img/hiking.svg" alt="hiking")
                      else
                        h6.bold-text #{activity.activity_type_name}
      hr