h5 #{user.username}
div.row
  if currentType == 'admin'
    div.large-4 #{user.email}
    - user.joined_on = user.joined_on.toLocaleDateString('en-US',{year: 'numeric', month: 'long', day: 'numeric'});
    div.large-4 Member since: #{user.joined_on}
    div.large-4 #[a(href="/admin") Admin Panel]
  else
    div.large-6 #{user.email}
    - user.joined_on = user.joined_on.toLocaleDateString('en-US',{year: 'numeric', month: 'long', day: 'numeric'});
    div.large-6 Member since: #{user.joined_on}