each favorite in user.favorites
  div.row
    div.large-10.columns
      a(href=favorite.link)
        h6.inline-item #{favorite.name}
      span.m-l-1 #{favorite.city}, #{favorite.state}
    div.large-2.columns
      form(action="/removefavorite" method="post")
        input(type="hidden" name="uniqueID" value=favorite.id)
        //- input(type="hidden" name="name" value=favorite.name)
        //- input(type="hidden" name="city" value=favorite.city)
        //- input(type="hidden" name="state" value=favorite.state)
        //- input(type="hidden" name="link" value=favorite.link)
        button.button.small.warning.rounded Remove