img(src="http://openweathermap.org/img/w/" + weather.weather[0].icon + ".png")
span #{weather.weather[0].description}
p Temperature: #{weather.main.temp}&deg;F
p Humidity: #{weather.main.humidity}%
p Pressure: #{weather.main.pressure}
p Wind: #{weather.wind.deg} #{weather.wind.speed}mph